{% extends "base3.html" %}
{% load compress cms_tags sekizai_tags subscribe_tags menu_tags thumbnail publish_tags %}
{% block content %}

    {% with object_list.0 as object %}
    <div class="gros-article" {% if object.article.image %}style="background-image:url({% thumbnail object.article.image 1200x630 crop %})"{% endif %}>
       
        <div class="gros-extrait">
            <div class="rubrique-title">
                {{ object.article.rubric.title|safe }}
            </div>  

            <div class="titre-article">
                <a href="{% url 'article-detail-site' object.article.slug %}">{{ object.article.title|safe }}</a>
            </div>

            <div class="auteur-feed">
                {{ object.article.authors|safe }}
            </div>

            <div class="chapeau-feed">
                {{ object.article.description|safe }} 
            </div>

            
        </div>
        
    </div>
    {% endwith %}


    <div class="feed-sidebar">
    	{% pile_de_medor %}
    </div>


    <div class="flux-articles">

    {% for object in object_list|slice:"1:" %}
    {% if object.visible %}
    <div class="petits-articles-feed {{ object.article.rubric.type }}">
        
        <div class="thumbnail">
            {% if object.article.image %}
            <img src="{% thumbnail object.article.image 400x400 crop %}">
            {% endif %}
        </div>  
        
        <div class="texte-petits-articles-feed">
            <div class="rubrique-title">
                {{ object.article.rubric.title }}
            </div>

            <div class="titre-article">
                <a href="{% url 'article-detail-site' object.article.slug %}">{{ object.article.title }}</a>
            </div>
        
            <div class="auteur-feed">
                {{ object.article.authors }}
            </div>

            <div class="chapeau-feed">
                {{ object.article.description|safe }} 
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    
</div>
    
   
    
    <div class="feed-sidebar">
        {% include "subscribe/partials/arrow-subscribe.html" %}
    </div>

    <div class="feed-sidebar">
        {% include "subscribe/partials/arrow-cooperate.html" %}
    </div>

    <div class="feed-sidebar">
                <h2>Les rendez-vous Médor</h2>
                {% get_next_events as events %}
                {% for event in events %}
                <div class="event">
                    <h3>{{ event.summary.value }}</h3>
                    {% if event.description %}
                    <p>{{ event.description.value }}</p>
                    {% endif %}
                    <p>{{ event.dtstart.value|date:"l j F" }}</p>
                    <p>{{ event.dtstart.value|date:"H:i" }} — {{ event.dtend.value|date:"H:i" }}. {{ event.location.value }}.
                    {% if event.attach %}
                    <a href="{{ event.attach.value }}" target="_blank">Plus d’infos.</a>
                    {% endif %}
                    </p>
                </div>
                {% endfor %}
    </div>

</div>

{% endblock %}

