{% extends "base3.html" %}
{% load cms_tags subscribe_tags buy_tags %}

{% block content %}
<header>
<h1>Obtenir Médor</h1>
</header>


<div class="group">
<h2>Je m’abonne</h2>

<div style="float:left">
{% include "subscribe/partials/arrow-subscribe.html" %}
</div>

<p>Pour 60€, vous êtes abonné·e·s pour un an et recevez quatre Médor par la poste, tous frais compris.</p>
<p>Pour 112€, vous êtes abonné·e·s pour deux ans et recevez donc huit Médor dans les mêmes conditions.</p>

<p>Pourquoi s’abonner ?</p>

<ul>
    <li>Je prends part à l’indépendance d’un média basé sur l’investigation et le récit dans mon pays, la Belgique.</li>
    <li>Je prends part à un projet collaboratif qui renforce le débat démocratique et se donne les moyens de penser et de chercher en profondeur.</li>
</ul>
</div>

<h2>J’achète Médor en librairie</h2>

<div style="position: relative; padding-bottom: 60%;">
<iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" frameBorder="0" src="https://umap.openstreetmap.fr/fr/map/points-de-vente-live_91114?scaleControl=false&miniMap=false&scrollWheelZoom=true&zoomControl=true&fullscreenControl=null&allowEdit=false&moreControl=false&searchControl=true&tilelayersControl=null&embedControl=null&datalayersControl=expanded&onLoadPanel=false&captionBar=false"></iframe>
</div>

<!--
<dl id="libraires">
    {% get_retail_outlet_list as retail_outlet_list %}
    {% regroup retail_outlet_list by city as city_list %}
    {% for city in city_list %}
        <dt>{{ city.grouper }}</dt>
        {% for shop in city.list %}
            <dd>{{ shop.name }}</dd>
        {% endfor %}
    {% endfor %}
</dl>
-->

<div class="group">
<h2>Je souhaite vendre Médor</h2>

<p>Contactez-nous sur <a href="mailto:diffusion@medor.coop">diffusion@medor.coop</a> pour passer votre commande</p>

</div>


<div class="group">
<h2>Vous pouvez aussi</h2>

<div style="float:left">
{% include "subscribe/partials/arrow-cooperate.html" %}
</div>

<p>Médor n’est pas seulement un magazine. C’est aussi <a href="{% page_url 'cooperative' %}">une coopérative</a> où chaque citoyen, de l’abonné au journaliste, peut jouer un rôle actif. Pour nous, les lecteurs ne sont pas de simples consommateurs. En prenant une ou plusieurs parts à 20 €, ils deviennent les garants de la philosophie et de la trajectoire du projet. Vous pouvez <a href="{% page_url 'cooperative' %}">lire plus sur la coopérative</a> ou <a href="https://boutique.medor.coop/page/become_cooperator">prendre un part</a>.</p>

</div>
{% endblock %}

