{% load subscribe_tags %}


<div class="arrow arrow--subscribe">
    <a href="https://boutique.medor.coop/page/become_subscriber" class="arrow__box">
        <span class="arrow__box__inner">
            je m’abonne pour<br />
            <span class="arrow__box__inner__price">60<sup>€</sup></span>
        </span>
    </a>

    {% comment %}
    <div class="arrow__counter">
        {% get_subscriber_count as subscriber_count %}
        {{ subscriber_count }}&thinsp;<span class="arrow__counter__goal">
            abon-<br/>nés
        </span>
    </div>
    {% endcomment %}
</div>
