{% load subscribe_tags %}


<div class="arrow arrow--cooperate">
    <a href="https://boutique.medor.coop/page/become_cooperator" class="arrow__box">
        <span class="arrow__box__inner">
            je  prends<br />une part à<br />
            <span class="arrow__box__inner__price">20<sup>€</sup><sub>ou&nbsp;+</sub></span>
        </span>
    </a>
    <!-- <div class="arrow__counter"> -->
    <!--     {% get_capital_amount as capital_amount %} -->
    <!--     {{ capital_amount }}<sup>€</sup> -->
    <!-- </div> -->
</div>
