{% load cms_tags %}

<a href="{{ issue.get_absolute_url }}"><img src="{% url 'pile-de-medors' %}"></a>

<p>{{ issue.title }} sort! Découvrez <a href="{{ issue.get_absolute_url }}">son sommaire</a> 
et gardez les yeux ouverts en l’achetant en 
<a href="/fr/acheter/">librairie</a> ou en prenant un <a href="https://boutique.medor.coop/page/become_subscriber">abonnement pour un ou deux ans</a>.</p>
